/learn/
/vendor/
/node_modules/
/scrap/js/node_modules/
/.idea/
/cURL_auth/config.php
/cURL_auth/cookie_file_cp
/cURL_auth/cookie_file_cp2
/cURL_auth/cookie_file_cp3
/cURL_auth/verbose_file.txt
/cURL_auth/verbose_file2.txt
/cURL_auth/verbose_file3.txt
/cURL_auth/verbose_file4.txt
/cURL_auth/verbose_file5.txt
